<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>camera_setting_camera_settings</string>
	<key>content</key>
	<array>
		<dict>
			<key>item</key>
			<string>hdracer_camera_setting_video_direction</string>
			<key>status</key>
			<string>0</string>
		</dict>
		<dict>
			<key>item</key>
			<string>full_settings_restore_default_settings</string>
		</dict>
		<dict>
			<key>item</key>
			<string>camera_setting_format_sd_card</string>
			<key>status</key>
			<string>0G/0G</string>
		</dict>
		<dict>
			<key>item</key>
			<string>full_settings_about</string>
		</dict>
	</array>
</dict>
</plist>
